@import "./global.scss";
@import "./variable.scss";

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: Whitney, "Microsoft JhengHei", "微軟正黑體", "Microsoft JhengHei UI", "Microsoft YaHei", "微軟雅黑",
    "宋体", SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  padding: 0;
  margin: 0;
  font-style: inherit;
  vertical-align: baseline;
  border: 0;
}

body,
html,
#app-mount {
  width: 100%;
  height: 100%;
  min-height: calc((100vh - var(--page-margin-top)) * 0.8);
}

#app-mount {
  padding-top: var(--page-margin-top);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a[href] {
  color: initial;
  text-decoration: none;
}
